<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      
      internalLogLevel="Off">

	<variable name="logDir" value="logs" />

	<!-- Compact 3-letter level mapping:
       Warning -> WRN, Debug -> DBG, Fatal -> FTL, others first 3 letters -->
	<variable name="lvl3"
			  value="${when:when='${level}'=='Warning':inner=WRN:else=${when:when='${level}'=='Debug':inner=DBG:else=${when:when='${level}'=='Fatal':inner=FTL:else=${level:uppercase=true:truncate=3}}}}" />

	<variable name="ts" value="${date:format=yyyy-MM-dd HH\\:mm\\:ss.fff zzz}" />
	<variable name="corr" value="${mdlc:item=correlation_id:whenEmpty=-}" />

	<variable name="systemLayout"
			  value="${var:ts} [${var:lvl3}] (${var:corr}) ${message}${onexception:${newline}${exception:format=ToString}}" />

	<targets>
		<target xsi:type="Console" name="console" layout="${var:systemLayout}" />

		<target xsi:type="File"
				name="systemFile"
				fileName="${logDir}/system-${shortdate}.log"
				layout="${var:systemLayout}"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="14"
				keepFileOpen="false"
				concurrentWrites="true"
				enableArchiveFileCompression="true"
				encoding="utf-8" />

		<target xsi:type="File"
				name="auditFile"
				fileName="${logDir}/audit-${shortdate}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="90"
				keepFileOpen="false"
				concurrentWrites="true"
				enableArchiveFileCompression="true"
				encoding="utf-8">
			<layout xsi:type="JsonLayout" includeAllProperties="true" renderEmptyObject="false">
				<attribute name="@timestamp" layout="${date:universalTime=true:format=o}" />
				<attribute name="level" layout="${uppercase:${level}}" />
				<attribute name="logger_name" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="action" layout="${event-properties:action}" />
				<attribute name="user_id" layout="${event-properties:user_id}" />
				<attribute name="bike_id" layout="${event-properties:bike_id}" />
				<attribute name="rental_id" layout="${event-properties:rental_id}" />
				<attribute name="duration" layout="${event-properties:duration}" />
				<attribute name="fees_charged" layout="${event-properties:fees_charged}" />
				<attribute name="delta" layout="${event-properties:delta}" />
				<attribute name="ip" layout="${event-properties:ip}" />
				<attribute name="correlation_id" layout="${mdlc:item=correlation_id}" />
				<attribute name="log_type" layout="audit" />
				<attribute name="service" layout="city-bikes" />
			</layout>
		</target>
	</targets>

	<rules>
		<!-- Put AUDIT first to avoid duplication into system targets -->
		<logger name="AUDIT" minlevel="Info" writeTo="auditFile" final="true" />
		<logger name="*" minlevel="Info" writeTo="console,systemFile" />
	</rules>
</nlog>